.classifyLabels {
    -fx-font-weight: bold;
}

.options {
    -fx-padding: 21;
}

#feedInputBox {
    -fx-min-width: 50em;
}

#inputContainer {
    -fx-alignment: center;
}

#feedInfo {
    -fx-alignment: center;
}

#classifyContainer {
    -fx-alignment: center;
}

#titleText {
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}